/* App.css */

/* Estilo para el contenedor principal */
.App {
  position: relative;
  /* Posición relativa para que los elementos internos se posicionen correctamente */
  width: auto;
  /* Ancho del contenedor principal */
  height: 742px;
  /* Altura del contenedor principal */
  margin: 0 auto;
  /* Centrar el contenedor horizontalmente */
  overflow: hidden;
  /* Oculta cualquier contenido que se desborde del contenedor */
}

/* Estilo para la imagen de fondo */
.background {
  position: absolute;
  /* Posición absoluta para que la imagen de fondo se superponga a otros elementos */
  width: 100%;
  /* Ancho al 100% del contenedor principal */
  height: 100%;
  /* Altura al 100% del contenedor principal */
  object-fit: cover;
  /* Escala la imagen para que cubra todo el contenedor manteniendo su relación de aspecto */
}

/* Estilo para la imagen de la base */
.base {
  position: absolute;
  /* Posición absoluta para que la imagen de la base se superponga a otros elementos */
  width: auto;
  /* Ancho de la imagen de la base */
  height: auto;
  /* Altura ajustada automáticamente para mantener la proporción */
  bottom: 0;
  /* Coloca la base en la parte inferior del contenedor principal */
}